<h1><%= "#{@stock["BovespaName"]} (#{@stock["StockCode"]})"%></h1>
<table>
  <tr>
    <th>StockId</th>
    <th>StockCode</th>
    <th>StockName</th>
    <th>StockTypeId</th>
    <th>CompanyId</th>
    <th>BovespaName</th>
    <th>SectorId</th>
    <th>SectorName</th>
    <th>LOTE</th>
    <th>DATA_BRASIL</th>
    <th>VALOR</th>
    <th>OSCILACAO</th>
    <th>ABERTURA</th>
    <th>FECHAMENT_ANT</th>
    <th>MINIMO</th>
    <th>MAXIMO</th>
    <th>MEDIA</th>
    <th>NEGOCIO</th>
    <th>QUANTIDADE</th>
    <th>VOLUME_TOTAL</th>
    <th>VARIACAO_7D</th>
    <th>VARIACAO_SEM</th>
    <th>VARIACAO_MES</th>
    <th>VARIACAO_30D</th>
    <th>VARIACAO_ANO</th>
    <th>VARIACAO_12M</th>
    <th>OFERTA_COMPRA</th>
    <th>QTD_OFERTA_COMPRA</th>
    <th>OFERTA_VENDA</th>
    <th>QTD_OFERTA_VENDA</th>
    <th>MAXIMO_52S</th>
    <th>MINIMO_52S</th>
    <th>VOLUME_MEDIO_21D</th>
    <th>PERCENT_MIN_52S</th>
    <th>PERCENT_MAX_52S</th>
    <th>BETA</th>
    <th>StandardLot</th>
    <th>MarketSegment</th>
  </tr>
  <tr>
    <td><%= @stock["StockId"] %></td>
    <td><%= @stock["StockCode"] %></td>
    <td><%= @stock["StockName"] %></td>
    <td><%= @stock["StockTypeId"] %></td>
    <td><%= @stock["CompanyId"] %></td>
    <td><%= @stock["BovespaName"] %></td>
    <td><%= @stock["SectorId"] %></td>
    <td><%= @stock["SectorName"] %></td>
    <td><%= @stock["LOTE"] %></td>
    <td><%= @stock["DATA_BRASIL"] %></td>
    <td><%= @stock["VALOR"] %></td>
    <td><%= @stock["OSCILACAO"] %></td>
    <td><%= @stock["ABERTURA"] %></td>
    <td><%= @stock["FECHAMENT_ANT"] %></td>
    <td><%= @stock["MINIMO"] %></td>
    <td><%= @stock["MAXIMO"] %></td>
    <td><%= @stock["MEDIA"] %></td>
    <td><%= @stock["NEGOCIO"] %></td>
    <td><%= @stock["QUANTIDADE"] %></td>
    <td><%= @stock["VOLUME_TOTAL"] %></td>
    <td><%= @stock["VARIACAO_7D"] %></td>
    <td><%= @stock["VARIACAO_SEM"] %></td>
    <td><%= @stock["VARIACAO_MES"] %></td>
    <td><%= @stock["VARIACAO_30D"] %></td>
    <td><%= @stock["VARIACAO_ANO"] %></td>
    <td><%= @stock["VARIACAO_12M"] %></td>
    <td><%= @stock["OFERTA_COMPRA"] %></td>
    <td><%= @stock["QTD_OFERTA_COMPRA"] %></td>
    <td><%= @stock["OFERTA_VENDA"] %></td>
    <td><%= @stock["QTD_OFERTA_VENDA"] %></td>
    <td><%= @stock["MAXIMO_52S"] %></td>
    <td><%= @stock["MINIMO_52S"] %></td>
    <td><%= @stock["VOLUME_MEDIO_21D"] %></td>
    <td><%= @stock["PERCENT_MIN_52S"] %></td>
    <td><%= @stock["PERCENT_MAX_52S"] %></td>
    <td><%= @stock["BETA"] %></td>
    <td><%= @stock["StandardLot"] %></td>
    <td><%= @stock["MarketSegment"] %></td>
  </tr>
</table>